@model IEnumerable<GyandhaaraLibrary.ViewModel.IndexSupplierVM>

@{
    ViewBag.Title = "Index";
}
<div class="row clearfix">
    <div class="col-sm-4">
        <div class="btn-group">
            <div class="btn-group">
                <a href="@Url.Action("Create", "Supplier")" class="btn btn-success" role="button"><span class="control-label glyphicon glyphicon-plus" id="Span4"></span></a>
                <a href="@Url.Action("Create", "Supplier")" class="btn btn-success" role="button">New</a>
            </div>
        </div>
    </div>
    <div class="col-sm-8"></div>
</div>
<hr />

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a href="@Url.Action("Details", "Supplier", new { id = item.SupplierID })">
                        <span class="glyphicon glyphicon-th-list" id="details-product"></span>
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Supplier", new {id = item.SupplierID })">
                        <span class="glyphicon glyphicon-edit" id="edit-product"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
